{% extends "blog/base.html" %}
{% block content %}
<h1>Login</h1>
<form method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <p>
    {{ form.username.label_tag }}<br>
    {{ form.username }}
    {{ form.username.errors }}
  </p>
  <p>
    {{ form.password.label_tag }}<br>
    {{ form.password }}
    {{ form.password.errors }}
  </p>
  <button class="btn" type="submit">Log in</button>
  {% if next %}
    <input type="hidden" name="next" value="{{ next }}">
  {% endif %}
</form>
{% endblock %}

